@model ExternalRegisterViewModel

<form asp-controller="Auth" asp-action="ExternalRegister" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div>
        <label>Username:</label>
        <input asp-for="Username" />
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>