.ArticleCard {
    background: white;
    border: 1px solid rgb(235, 237, 240);
    border: 1px solid #4675bb;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.ArticleCard-Left {
    flex:1;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.ArticleCard-Right {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}


.ArticleCard-Icon {
    font-size: '50px'; 
    color: '#08c';
    align-self: center;
}

.ArticleCard-BelowIcon {
    width: 100%;
    height: 100%;

    align-self: flex-end;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ArticleCard-Title {
    margin: 0.3em;
    align-self: flex-start;
}

.ArticleCard-TagButton {
    margin: 0.5em
}

.ArticleCard-Button {
    width: fit-content;
}