.ArticleCard {
    width: 100px;
    background: white;
    border: 1px solid rgb(235, 237, 240);
    margin: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.ArticleCard-Icon {
    font-size: '38px'; 
    color: '#08c';
}

.ArticleCard-Title {
    margin: 0.3em;
    align-self: flex-start;
}